;스카이박스
modify:
{
	match:
	{
		"skyname" "toolsskybox11"
	}
	replace:
	{
		"skyname" "sky_venice"
	}
}
;롱점프 트리거 높이 수정
modify:
{
	match:
	{
		"hammerid" "41006"
	}
	delete:
	{
		"origin" "-6662 -6285.52 279"
	}
	insert:
	{
		"origin" "-6662 -6285.52 289"
	}
}